<ng-container>
  <section class="bg-profile">
    <h2>{{user.pseudo}} - Profile</h2>
  </section>

  <div class="separator">
    <img src="../../../assets/image/default-avatar.png" alt="{{user.pseudo}} avatar">
    <h4 class="user-pseudo">{{user.pseudo}}</h4>
  </div>

  <section>
    <main class="main-content">
      <app-card-section [title]="favMangaTitle" [data]="favMangas"></app-card-section>
      <app-card-section [title]="readLaterMangaTitle" [data]="readLaterMangas"></app-card-section>
    </main>
  </section>
</ng-container>
