.bg-profile {
  height: 50vh;
  background-image: url("../../../assets/image/profile-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
}

.bg-profile h2 {
  color: white;
  margin: auto;
}

.separator {
  display: flex;
  background: #393633;
  padding: 16px 60px;
  align-items: center;
}
.separator img {
  width: 150px;
  margin-top: -80px;
}

.user-pseudo {
  color: white;
  margin-left: 60px;
}
