#main-bg {
  height: 90vh;
  width: 100%;
  background-image: url("../../../assets/image/main-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
}


#main-bg h1 {
  margin: auto;
  margin-top: 20%;
  color: white;

  background-color: black;
  padding: 30px 20px;
  padding-right: 40px;
}
