<ng-container>
  <!--  bg image -->
  <div id="main-bg">
    <h1>Mangos, mangas... just a typo right?</h1>
  </div>

  <main class="main-content">
    <app-card-section [title]="popularMangaTitle" [data]="reducedRandomMangas"></app-card-section>

    <app-card-section [title]="randomMangaTitle" [data]="reducedRandomMangas"></app-card-section>
  </main>

</ng-container>
