<ng-container>
  <section class="text-content">
    <h2>Add user</h2>

    <form [formGroup]="formGroup" (ngSubmit)="save()">
      <mat-form-field>
        <mat-label>
          Pseudo
        </mat-label>
        <input matInput
               formControlName="pseudo" name="pseudo"
               placeholder="Pseudo"/>
        <mat-error *ngIf="formGroup.controls.pseudo.errors?.required">
          This field is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>
          Password
        </mat-label>
        <input matInput
               type="password"
               formControlName="password" name="password"
               placeholder="password"/>
        <mat-error *ngIf="formGroup.controls.password.errors?.required">
          This field is required
        </mat-error>
        <mat-error *ngIf="formGroup.controls.password.errors?.minlength">
          This field must contain at least {{ formGroup.controls.password.errors?.minlength.requiredLength }} characters
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>
        <select matNativeControl required [formControl]="formGroup.controls.role">
          <option value="MEMBER" selected>
            Member
          </option>
          <option value="ADMIN">
            Admin
          </option>
        </select>
        <mat-error *ngIf="formGroup.controls.role.errors?.required">
          This field is required
        </mat-error>
      </mat-form-field>

      <button mat-flat-button color="primary">
        Add
      </button>
    </form>
  </section>
</ng-container>
