h2 {
  text-transform: uppercase;
  width: fit-content;
}

section {
  padding: 20px;
}

section h2 {
  color: rgb(230, 154, 28);
}

mat-list-item {
  margin: 30px;
  padding: 40px;
  background: white;
  box-shadow: 0 0 6px black;
  border-radius: 3px;
  max-width: 30%;
  display: flex;
}
.mat-list-item-content {
  justify-content: space-around;
}
.default-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: #c3c3c3 0 0 5px;
}

.small-manga-img {
  height: 40px;
}
