<main class="main-content">
  <section>
    <h2>Users</h2>
    <div>
      <mat-list *ngIf="users">
        <mat-list-item *ngFor="let u of users" class="flex-space-between">
          <img class="m-right default-avatar" src="../../../assets/image/default-avatar.png" alt="default avatar">
          <p class="m-right">{{u.pseudo}}</p>
          <mat-icon class="m-left align-right" (click)="deleteUser(u)">delete</mat-icon>
        </mat-list-item>
      </mat-list>
    </div>
    <button mat-flat-button routerLink="user/add">
      Add user
    </button>
  </section>
  <section>
    <h2>Mangas</h2>
    <div>
      <mat-list *ngIf="mangas">
        <mat-list-item *ngFor="let m of mangas" class="flex-space-between">
          <img class="m-right small-manga-img" src="{{m.url}}" alt="manga image">
          <p class="m-right">{{m.title_english ? m.title_english : m.title}}</p>
          <mat-icon class="m-left align-right" (click)="deleteManga(m)">delete</mat-icon>
        </mat-list-item>
      </mat-list>
    </div>
    <button mat-flat-button routerLink="manga/add">
      Add manga
    </button>
  </section>
</main>
