<ng-container>
  <section class="bg-login">
    <h2>Dive into</h2>
    <h2>a raging battle!</h2>
  </section>
  <section class="text-content">
    <h2>Login</h2>

    <form [formGroup]="formGroup" (ngSubmit)="save()">
      <mat-form-field>
        <mat-label>
          Pseudo
        </mat-label>
        <input matInput
               formControlName="pseudo" name="pseudo"
               placeholder="Pseudo"/>
        <mat-error *ngIf="formGroup.controls.pseudo.errors?.required">
          This field is required
        </mat-error>
        <mat-error *ngIf="formGroup.controls.pseudo.errors?.minlength">
          This field must contain at least {{ formGroup.controls.pseudo.errors?.minlength.requiredLength }} characters
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>
          Password
        </mat-label>
        <input matInput
               type="password"
               formControlName="password" name="password"
               placeholder="Password"/>
        <mat-error *ngIf="formGroup.controls.password.errors?.required">
          This field is required
        </mat-error>
      </mat-form-field>

      <button mat-flat-button color="primary">
        Let's go
      </button>
    </form>

  </section>
</ng-container>
