:host {
  display: flex;
  height: 100vh;
}

section {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.bg-login {
  flex: 6;
  background-image: url("../../../assets/image/kingdom.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
}

h2 {
  text-transform: uppercase;
  width: fit-content;
}

.bg-login h2 {
  margin: auto;
  color: white;

  background-color: black;
  padding: 30px 20px;
  padding-right: 40px;
}

.bg-login {
  display: block;
}

.bg-login h2 {
  margin-top: 10%;
  margin-right: 10%;

}

.bg-login h2:first-child {
  margin-top: 40%;
  margin-left: 10%;

}


.text-content {
  padding: 4%;
  padding-top: 16vh;
  display: flex;
}

.text-content h2 {
  color: rgb(230, 154, 28);
}


form {
  display: flex;
  flex-direction: column;
  padding: 5% 10%;
}

input {
  padding: 10px;
  border-radius: 3px;
  margin-top: 10px;
  color: white!important;
}
input::placeholder {
  padding: 10px;
  color: white!important;
}

mat-label {
  font-size: 1.6em;
  color: white!important;
}

mat-form-field {
  width: 60%;
  margin-bottom: 80px;
}

button {
  align-self: flex-end;
  padding: 12px 29px;
  font-size: 2em;
}
