<ng-container>
  <img src="{{item.url}}" alt="{{item.title}}">
  <div class="gray-card">
    <div class="flex-center">
      <p class="m-bottom-0 m-right-small">3 </p>
      <mat-icon color="primary">visibility</mat-icon>
    </div>

    <ng-template [ngIf]="noLink" [ngIfElse]="link">
      <h4 class="pointer">{{item.title_english ? item.title_english : item.title}}</h4>
    </ng-template>

    <ng-template #link>
      <h4 class="pointer" routerLink="/manga/{{item.id}}">{{item.title_english ? item.title_english : item.title}}</h4>
    </ng-template>

    <div *ngIf="showAdd">
      <button mat-flat-button color="primary" (click)="saveManga(item)">
        Add
      </button>
    </div>
  </div>
</ng-container>
