:host {
  background-color: #393633;
  width: 22%;
}

img {
  width: -webkit-fill-available;
  height: 38vh;
}

.gray-card {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 120px;
}

.gray-card h4 {
  margin: auto;
}
