
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//$orange: #e69a1c;
//$orangeRGB: rgb(230, 154, 28);
//
//$orangeRGB: (
//  50: rgb(230, 154, 28),
//);
//
//$dark-gray: #2d2a26;
//$dark-grayRGB: rgb(45, 42, 38);
//
//$light-gray: #393633;
//$light-grayRGB: rgb(57, 54, 51);

$front-primary: mat-palette($mat-deep-orange);
$front-accent: mat-palette($mat-gray,  A200, A100, A400);
$front-dark: mat-palette($mat-gray,  A200, A100, A400);
// The warn palette is optional (defaults to red).
$front-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$front-theme: mat-light-theme((
  color: (
    primary: $front-primary,
    accent: $front-accent,
    dark: $front-dark,
    warn: $front-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($front-theme);

