/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: #2d2a26 !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


h1 {
  font-size: 4em !important;
}

h2 {
  font-size: 3em !important;
}

h4 {
  font-size: 1.9em !important;
}

.mat-drawer-container {
  background-color: #2d2a26 !important;
}

.flex-both-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-around;
}

.f-align-center {
  display: flex;
  align-items: center;
}

.gray-btn {
  color: white;
  padding: 10px 22px;
  background-color: #393633;
  border-radius: 3px;
}

.main-content {
  padding: 9%;
}

.m-right {
  margin-right: 30px !important;
}
.m-right-small {
  margin-right: 9px !important;
}

.m-bottom-0 {
  margin-bottom: 0!important;
}

.m-left {
  margin-left: 30px !important;
}

.m-right {
  margin-right: 30px;
}

.pad-bottom {
  padding-bottom: 16px;
}

*[ng-reflect-router-link]:focus {
  outline: none;
}

.pointer {
  cursor: pointer;
}


/* flex */
.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
.flex3 {
  flex: 3;
}
.flex4 {
  flex: 4;
}
.flex5 {
  flex: 5;
}
.flex6 {
  flex: 6;
}
.flex7 {
  flex: 7;
}
.flex8 {
  flex: 8;
}
.flex9 {
  flex: 9;
}
.flex10 {
  flex: 10;
}

.flex-center {
  align-items: center;
  justify-content: center;
  display: flex;
}
.flex-vertical-space-between {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}
