<ng-container *ngIf="manga">
  <section class="bg-profile">
    <h2>{{manga.title ? manga.title : manga.title_english}}</h2>
  </section>

  <div class="separator flex-space-between">
    <h4 class="m-right flex2">{{manga.title ? manga.title : manga.title_english}}</h4>
    <h5 class="m-right flex2 publication-status">~ {{manga.status === "1" ? "en cours de publication" : "publication terminée"}} ~</h5>

    <div class="spacer flex2"></div>
    <div class="f-align-center m-right">
      <p class="m-right-small">3</p>
      <mat-icon color="primary">favorite</mat-icon>
    </div>
    <div class="f-align-center m-right">
      <p class="m-right-small">3</p>
      <mat-icon color="primary">visibility</mat-icon>
    </div>
    <div class="spacer flex1"></div>

    <div class="example-button-row">
      <button *ngIf="user" class="m-left" mat-mini-fab aria-label="Example icon-button with a heart icon">
        <mat-icon color="primary">favorite</mat-icon>
      </button>
      <button *ngIf="user" class="m-left" mat-mini-fab aria-label="Example icon-button with a heart icon">
        <mat-icon color="primary">book</mat-icon>
      </button>
      <button *ngIf="user.role === 'ADMIN'" class="m-left" mat-mini-fab aria-label="Example icon-button with a heart icon">
        <mat-icon color="primary" (click)="delete(manga)">delete</mat-icon>
      </button>
    </div>
  </div>

  <section>
    <main class="main-content">
      <div class="flex-space-between">
        <div class="flex3">
          <img class="manga-image" src="{{manga.url}}" alt="manga image">
        </div>
        <div class="spacer flex1"></div>
        <div class="flex6 flex-vertical-space-between pad-bottom">
          <p class="synopsis">{{manga.synopsis}}</p>
          <div class="mangas-infos">
            <mat-chip-list>
              <div *ngFor="let genre of manga.genres">
                <mat-chip  color="accent" selected>{{genre.name}}</mat-chip>
              </div>
            </mat-chip-list>
          </div>
        </div>
      </div>
    </main>
  </section>
</ng-container>
