.bg-profile {
  height: 40vh;
  background-image: url("../../../assets/image/profile-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
}

.bg-profile h2 {
  color: white;
  margin: auto;
}

.separator {
  display: flex;
  background: #393633;
  padding: 16px 60px;
  align-items: center;
  color: white;
  height: 60px;
}

.separator h4, .separator p {
  margin: 0;
}

.manga-image {
  width: 100%;
}

.synopsis {
  font-size: 1.4em;
  color: #c3c3c3;
  text-align: justify;
}

.publication-status {
  font-size: 1.2em;
  font-style: italic;
  margin: 0;
  color: #c3c3c3;
}
