<ng-container>
  <section class="text-content">
    <h2>Add manga (search through Jikan API)</h2>

    <form [formGroup]="formGroup" (ngSubmit)="search()">
      <mat-form-field>
        <mat-label>
          Title
        </mat-label>
        <input matInput
               formControlName="search" name="search"
               placeholder="Manga's title"/>
        <mat-error *ngIf="formGroup.controls.search.errors?.required">
          This field is required
        </mat-error>
        <mat-error *ngIf="formGroup.controls.search.errors?.minlength">
          This field must contain at least {{ formGroup.controls.search.errors?.minlength.requiredLength }} characters
        </mat-error>
      </mat-form-field>

      <button mat-flat-button color="primary">
        Search for it
      </button>
    </form>

    <div *ngIf="searchResults" class="resultats">
      <app-card-section [title]="searchResultsTitle" [data]="searchResults" [noLink]="true" [showAdd]="true" [onclick]="addManga" [hideAll]="true"></app-card-section>
    </div>
  </section>
</ng-container>
