<section>
  <div class="flex-both-end header-bar">
    <h2 class="section-title">{{title}}</h2>
    <button mat-button class="gray-btn" *ngIf="!hideAll">
      All
    </button>
  </div>
  <div *ngIf="data" class="flex-both-end">
    <app-manga-card *ngFor="let manga of data" [item]="manga" [noLink]="noLink" [showAdd]="showAdd" [onclick]="onclick"></app-manga-card>
  </div>
</section>
