section {
  margin-bottom: 20%;
}
.section-title {
  color: white;
  padding: 18px 22px;
  padding-right: 39px;
  background-color: #393633;
  width: fit-content;
  border-radius: 3px;
}
.header-bar {
  margin-bottom: 30px;
}
