<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <div class="menu-section">
        <h5 class="menu-title">Manga</h5>
        <mat-list-item routerLink="/manga/list/popular" class="menu-link">
          Popular
        </mat-list-item>
        <mat-list-item routerLink="/manga/list/random" class="menu-link">
          Random
        </mat-list-item>
        <mat-list-item routerLink="/manga/search" class="menu-link">
          Search
        </mat-list-item>
      </div>
      <mat-divider></mat-divider>
      <div class="menu-section">
        <h5 class="menu-title">Compte</h5>
        <mat-list-item routerLink="profile/{{user.id}}" class="menu-link" *ngIf="user">
          Profile
        </mat-list-item>
        <mat-list-item (click)="logout()" class="menu-link" *ngIf="user">
          Logout
        </mat-list-item>
        <mat-list-item routerLink="login" class="menu-link" *ngIf="user === null">
          Login
        </mat-list-item>
        <mat-list-item routerLink="signup" class="menu-link" *ngIf="user === null">
          Sign up
        </mat-list-item>
      </div>

      <div *ngIf="user?.role === 'ADMIN'" class="menu-section">
        <mat-divider></mat-divider>
        <h5 class="menu-title">Admin</h5>
        <mat-list-item routerLink="admin" class="menu-link">
          Dashboard
        </mat-list-item>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
              (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <img routerLink="" src="../../../assets/image/logo.jpg" alt="mangue logo" class="logo m-left">
      <p routerLink="" class="m-left">Mango</p>
      <span class="example-spacer"></span>

      <div class="flex m-right" *ngIf="user">
        <img routerLink="profile/{{user.id}}" class="logo" src="../../../assets/image/default-avatar.png"
             alt="user avatar">
      </div>

      <div class="flex m-right" *ngIf="user === null">
        <p routerLink="login">Sign in</p>
      </div>

      <div class="flex" *ngIf="user === null">
        <p routerLink="signup">Create Account</p>
      </div>

      <div class="flex m-right" *ngIf="user">
        <p (click)="logout()">Logout</p>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>
