.example-spacer {
  flex: 1 1 auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-sidenav-container {
  height: 100%;
}

.mat-toolbar {
  justify-content: space-between;
  color: white;
}

router-outlet + * {
  display: block;
  padding: 1rem;
}

mat-sidenav {
  background-color: rgba(230, 154, 28, 0.9);
  width: 260px;
}

mat-toolbar p, span {
  margin-bottom: 0;
  cursor: pointer;
}
mat-toolbar {
  padding-right: 60px;
  padding-left: 30px;
  position: fixed;
  z-index: 1000;
  background-color: rgba(230, 154, 28, 0.9);
}


.logo {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.menu-section {
  padding: 20px;
}
.menu-title {
  color: white;
  padding-left: 6px;
  padding-top: 30px;
  font-size: 1.3em;
}
.menu-link {
  color: white;
  padding-left: 30px;
  font-size: 1.1em;
}
